@use 'sass:map';

//central body content
.main-content {
	padding-top: 2rem;
}

//generic img container prop.
.rounded {
	img {
		width: 100%;
		border-radius: 6px;
		object-fit: cover;
		object-position: center;
	}
}

//hero section
.hero-img {
	width: 100%;
}

//author summary pane
.author-detail {
	width: 100%;
	padding: 0.55rem 0;
	font-family: 'Poppins';
	font-size: 1.1rem;
	text-align: left;
	color: var(--baseTextColor);

	.author-dp {
		--size: 39px;
		width: var(--size);
		height: var(--size);
		background-color: #d9d9d9;
		border-radius: 50%;
		display: inline-block;
		margin-right: 0.4rem;
		overflow: hidden;

		& + .author-name {
			padding-top: 0.65rem;
			padding-left: 0.65rem;
			font-size: 0.75rem;
		}
	}

	.author-name {
		margin-right: 0.2rem;
		padding-top: 0.3rem;
		color: var(--blue);

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&.art-cat-title {
			padding-top: 0.05rem;

			b {
				font-weight: bold;
				color: var(--baseTextColor);
			}
		}
	}

	.art-date {
		padding-top: 0.4rem;
		color: inherit;

		&::before {
			position: relative;
			content: '|';
			font-size: inherit;
			left: 0;
			top: -1px;
			color: var(--baseTextColor);
		}
	}
}

//vertically stacked article listing
.stacked-art-sm {
	.stacked-mod-title {
		padding-bottom: 1rem;
		font-family: 'Poppins-bold';
		font-size: 1rem;
		text-align: left;
		text-transform: capitalize;

		&.green {
			color: var(--green);
		}

		&::before {
			width: 26px;
			height: 28px;
			content: '';
			background-repeat: no-repeat;
			background-position: left center;
			margin-right: 0.4rem;
			display: inline-block;
			position: relative;
			top: 6px;
		}

		&.stocks {
			&::before {
				background-image: url(../img/stock_icon.png);
			}
		}

		&.etf {
			&::before {
				background-image: url(../img/etf_icon.png);
			}
		}

		&.mf {
			&::before {
				background-image: url(../img/mf_icon.png);
			}
		}

		&.op {
			&::before {
				background-image: url(../img/option_icon.png);
			}
		}

		&.eh {
			&::before {
				width: 28px;
				top: 8px;
				background-image: url(../img/earnings_head_icon.png);
			}
		}

		//custom title positioning
		&.custom-pos-t {
			//custom position from top inside the parent container
			position: relative;
			top: -20px;
			padding-bottom: 0;
		}
	}

	article {
		margin-bottom: 0.113rem;
		padding-bottom: 0.113rem;
		border-bottom: 1px solid var(--stackedArtBorder);

		&:last-of-type {
			border-bottom: none;
		}

		h3 {
			margin: 0;
			padding-bottom: 0;
		}

		h4 {
			margin-top: 0.1rem;

			&:hover {
				text-decoration: underline;
			}
		}

		p {
			margin-top: 0rem;
			margin-bottom: 0.4rem;
		}

		.author-detail.d-flex {
			margin-top: 0;
			padding: 0.22rem 0;

			.art-date {
				width: 100%;
				padding-top: 0.1rem;

				&::before {
					display: none;
				}
			}
		}
	}

	& + .stacked-art-sm {
		border-left: 1px solid var(--stackedArtBorder);
	}

	&.border-0 + .stacked-art-sm {
		border-left: 0;
	}

	//compact articles
	&.compact {
		.hero-img.rounded {
			img {
				max-height: 77px;
			}
		}
	}
}

//title pane
.title-pane {
	margin: 1rem 0;
	padding: 0.3rem;
	border-radius: 4px;
	font-family: 'Poppins-bold';
	font-size: 1rem;
	text-align: left;
	text-transform: capitalize;
	color: var(--basebgColor);

	&.green-bg {
		background-color: var(--green);
	}

	&.lg {
		--space-right: 0.5rem;
		--space-left: 0.5rem;
		width: calc(100% - (var(--space-left) + var(--space-right)));
		margin-top: 0;
		margin-left: 0.6rem;
		margin-right: 0.6rem;
		margin-bottom: 0;
		padding: 0.9rem;
		font-size: 1.2rem;
	}

	&.with-icon {
		background-size: 37px 33px;
		background-repeat: no-repeat;
		background-position: 0.6rem;
		padding-left: 60px; //background size + background left-position

		&.invest {
			background-image: url(../img/invest_icon.png);
		}

		&.earnings {
			background-image: url(../img/earnings_icon.png);
		}

		&.video {
			background-image: url(../img/video_icon.png);
			background-size: 25px 17px;
			padding-left: 45px;
		}
	}
}

.featured-tickers {
	font-size: 1.5rem;
	text-transform: capitalize;

	.ticker-label {
		padding: 0.1rem 0;
		font-family: 'Poppins-bold';
		font-size: inherit;
		text-align: left;
	}

	.ticker-name {
		padding: 0 0 0.5rem 0;
		font-family: 'Poppins';
		font-size: 1.1rem;
	}

	.ticker-info {
		padding-bottom: 0.75rem;
	}
}

//sidebar
aside {
	&#sidebar {
		background-color: var(--basefgColor);
		border-left: 1px solid var(--stackedArtBorder);
		padding-top: 2rem;

		//aligning all links in the right sidebar to the right side
		.link {
			span {
				float: right;
			}
		}
	}
}

//widgets
.widget {
	width: 100%;
	background-color: var(--basebgColor);
	border-radius: 4px;
	border: 1px solid var(--widgetBorder);
	box-shadow: 0 1px 4.4px 0px rgba(0, 0, 0, 0.1);
	margin: 1.667rem 0;

	.widget-title {
		padding: 0.811rem;
		font-family: 'Poppins-bold';
		font-weight: 600;
		font-size: 1rem;
		color: var(--baseTextColor);
		text-transform: capitalize;
	}

	.widget-body {
		width: 100%;
		padding: 0 0.5rem;
	}

	&.transparent {
		background-color: transparent;
		border-radius: 0;
		border: none;
		box-shadow: none;

		.widget-body {
			background-color: var(--tabBtn);
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border: 1px solid var(--widgetBorder);
			border-top: none;
			box-shadow: 0 1px 4.4px 0px rgba(0, 0, 0, 0.1);
			padding: 0;
		}
	}
}

//accordion
.accordion-item {
	.accordion-header {
		cursor: pointer;
		padding: 0.2rem;
		background-color: transparent;
		border-top: 1px solid var(--stackedArtBorder);
		margin: 5px;
		transition: background-color linear 0.3s;

		//market summary table
		.mkt-data {
			width: 100%;

			tr {
				th {
					font-family: 'Nunito';
					font-weight: normal;
					text-align: right;
					font-size: 0.8rem;

					&:not(:nth-child(n + 3)) {
						text-align: left;
					}

					&.caret {
						width: 12px;
						height: 9px;
						display: inline-block;
						position: relative;
						top: -0.3rem;
						transform: rotate(0deg);
						transform-origin: center center;
						transition: transform linear 0.3s;
					}

					&.green {
						color: var(--green);
					}
				}
			}
		}

		&.active {
			background-color: var(--black);
			color: var(--basebgColor);
			border-top: none;
			border-radius: 4px;

			.mkt-data {
				th {
					color: var(--basebgColor) !important;

					&.caret {
						img {
							filter: grayscale(1) invert(1);
							transform: rotate(90deg);
						}
					}
				}
			}
		}
	}

	.accordion-content {
		display: none;
		visibility: collapse;
		margin: 0.3rem;
		padding-bottom: 0.8rem;
		max-height: 150px;
		overflow: hidden;
		transform: scaleY(0);
		transform-origin: bottom center;
		transition: transform linear 0.3s;
	}

	.accordion-content.active {
		display: block;
		visibility: visible;
		transform: scaleY(1);
	}
}

//tabs

.tabs {
	.tab {
		cursor: pointer;
		padding: 0.8rem 1.113rem;
		border-radius: 4px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		background-color: transparent;
		font-family: 'Poppins';
		font-size: 1rem;
		color: var(--baseTextColor);
		text-align: center;
		text-transform: capitalize;

		&.active {
			background-color: var(--basebgColor);
			border-top: 1px solid var(--baseTextColor);
		}
	}
}

.tab-contents {
	padding: 0.5rem 0;
	padding-right: 0.5rem;
	background-color: var(--basebgColor);

	.tab-content {
		display: none;
		padding: 0.5rem;
		height: 180px;
		overflow-x: hidden;
		overflow-y: auto;
		font-family: 'Nunito';
		font-size: 0.8rem;
		text-align: left;

		ul {
			width: 100%;
			padding: 0;

			li {
				width: 100%;
				padding: 0.611rem 0;
				border-bottom: 1px solid var(--baseTextColor);

				&:last-of-type {
					border-bottom: none;
				}
			}
		}

		&.active {
			display: block;
		}
	}
}

//widget inside tabs => top movers tab
#top_movers,
#ear_suprise {
	&.widget {
		margin-top: 0;

		.widget-body {
			border-radius: 4px;
			margin-top: 0;
			margin-bottom: 0;

			.tabs .tab.active {
				border-top-color: var(--blue);
			}

			.tab-contents {
				.widget,
				.widget-body {
					border: none;
					background: none;
					border-radius: 0;
					box-shadow: none;
					margin: 0;
				}
				table {
					tr {
						td {
							&.text-col {
								&:first-of-type {
									font-weight: normal;
								}

								&:nth-of-type(2) {
									font-weight: bold;
									text-transform: uppercase;
								}
							}

							a {
								&.link {
									margin-top: 1rem;
									background-color: var(--blue);
									border-radius: 4px;
									color: var(--basebgColor);

									span {
										width: auto;
										float: right;
										color: inherit;
									}

									img {
										float: right;
										margin-right: 0.5rem;
									}
								}
							}
						}
					}
				}

				.tab-content {
					height: auto;
				}
			}
		}
	}
}

// rank#1 additions
#rank-additions,
#upcoming_esp {
	margin-top: 0;

	table {
		tr {
			th {
				padding-bottom: 0.3rem;

				&.text-col {
					padding-left: 0;
				}
			}
			td {
				&.text-col {
					font-weight: normal;

					b {
						font-weight: 600;
					}
				}

				padding: 0.18rem 0;
			}
		}
	}

	a {
		&.link {
			background-color: var(--blue);
			border-radius: 4px;
			color: var(--basebgColor);

			span {
				width: auto;
				float: right;
				color: inherit;
			}

			img {
				float: right;
				margin-right: 0.5rem;
			}
		}
	}
}

#upcoming_esp {
	table {
		tbody {
			td {
				padding: 0.5rem 0;
			}
		}
	}
}

//lists with links
.widget-title.zacks-icon {
	padding-bottom: 0;

	&::before {
		content: '';
		width: 30px;
		height: 30px;
		margin-right: 0.2rem;
		background-image: url(../img/zp-30x30.png);
		background-repeat: no-repeat;
		background-position: left center;
		display: inline-block;
	}

	span {
		position: relative;
		top: -10px;
	}
}

.feature-items {
	padding-bottom: 1rem !important;
	ul {
		max-height: 200px;
		overflow: hidden;
		overflow-y: auto;

		li {
			width: 100%;
			display: inline-block;
			padding: 0.4rem;

			a {
				display: inline-block;
				width: inherit;
				padding: 0.5rem 1rem;
				background-color: var(--grey);
				border-radius: 4px;
				font-family: 'Poppins';
				font-weight: normal;
				font-size: 0.875rem;
				text-align: left;
				text-transform: capitalize;
				color: var(--basebgColor);
				transition: all linear 0.2s;

				&:hover,
				&:focus {
					background-color: var(--blue);
				}

				&::after {
					content: '';
					position: relative;
					top: 6px;
					float: right;
					background-image: url(../img/arrow-white.svg);
					width: 7px;
					height: 6px;
				}
			}
		}
	}
}

//custom scroll bar
/* For Chrome, Safari and Opera */
::-webkit-scrollbar {
	width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
	background: #f0ebeb; /* Background color of the scrollbar */
	border-radius: 12px;
}

::-webkit-scrollbar-thumb {
	background: var(--grey); /* Color of the scrollbar thumb */
	border-radius: 12px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
	background: var(--black); /* Color on hover */
}

//pills
.pill-hive {
	width: 100%;
	margin-top: 0.3rem;
	padding: 0.11rem 0 0.82rem 0;

	.pill {
		min-width: 30px;
		height: 20px;
		margin: 0 0.11rem;
		padding: 0.111rem;
		border-radius: 4px;
		font-family: 'Poppins';
		font-size: 0.563rem;
		color: var(--baseTextColor);
		text-align: center;
		text-transform: uppercase;

		&.green {
			background-color: var(--greenPillFill);
			border: 1px solid var(--greenPillStroke);
		}

		&.red {
			background-color: var(--redPillFill);
			border: 1px solid var(--redPillStroke);
			position: relative;
			top: -0.05rem;
			line-height: 1.6;
		}
	}
}

//link
.link,
.mod-top-link {
	width: 100%;
	padding: 0.5rem 0;
	border-top: 1px solid var(--stackedArtBorder);
	display: inline-block;

	span {
		float: left;
		font-family: 'Poppins';
		font-size: 0.75rem;
		text-align: left;
		text-transform: capitalize;
		color: var(--blue);
	}

	&:hover,
	&:focus {
		span {
			text-decoration: underline;
		}
	}

	img {
		float: left;
		width: 7px;
		height: 6px;
		margin-left: 0.4rem;
		margin-top: 0.4rem;
	}

	&.d-flex {
		display: flex;
	}
}

.mod-top-link {
	width: 100%;
	border-top: none;

	&.right {
		float: right;
	}
}

//table
.table-wrapper {
	width: 100%;
	overflow-x: auto;
	margin: 0.3rem 0;
	padding: 0.4rem 0;

	table {
		&.table {
			width: 100%;
			border-collapse: collapse;
			border: none;
			display: table;

			&.border-cell {
				th,
				td {
					font-family: 'Nunito';
					font-size: 0.875rem;
					text-align: left;
					text-transform: capitalize;
					padding: 0.3rem 0;
					border-bottom: 1px solid var(--stackedArtBorder);

					&.num-col,
					&.sym-col {
						text-align: right;
					}

					&.text-col {
						padding-left: 0.3rem;
						text-align: left;

						&:first-of-type {
							font-weight: bold;
						}
					}

					&.sym-col {
						a {
							display: inline-block;
							width: 24px;
							height: 24px;
							margin-top: 0.4rem;
							text-align: right;
						}

						&.doc,
						&.shot {
							&:hover a {
								img {
									display: none;
								}
							}
						}

						&.doc {
							&:hover a {
								background-image: url(../img/doc_icon_hover.svg);
								background-repeat: no-repeat;
							}
						}

						&.shot {
							&:hover a {
								background-image: url(../img/shot_icon_hover.svg);
								background-repeat: no-repeat;
							}
						}
					}

					&.num-col {
						&.plus {
							color: var(--green);
						}

						&.minus {
							color: red;
						}
					}
				}

				//border: 0 for the cells inside last table row
				tr {
					&:last-of-type {
						td {
							border-bottom: none;
						}
					}
				}
			}
		}
	}
}

//table breakpoints
$table_breakpoints: (
	mobile: 575.98px,
	tablet: 767.98px,
	desktop: 991.98px,
	quad: 1199.98px,
);

//media query mixin
@mixin table-mq($key) {
	$size: map.get($table_breakpoints, $key);

	@media screen and (max-width: $size) {
		@content;
	}
}

@include table-mq(quad) {
	.table-wrapper-xl {
		max-width: 350px;
	}
}

//search box
.search-pane {
	width: inherit;
	position: relative;
	padding-top: 0.5rem;

	.rounded {
		background-color: #eff1f3;
		border-radius: 24px;
		overflow: hidden;
	}

	input {
		width: inherit;
		background-color: transparent;
		border: none;
		outline: none;
		padding: 1rem;
		font-family: 'Poppins';
		font-weight: normal;
		font-size: 0.875rem;
		text-align: left;
		color: var(--baseTextColor);
		text-transform: none;

		&::placeholder {
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			text-align: left;
			text-transform: capitalize;
			color: inherit;
		}
	}

	button {
		&.search-cta {
			position: absolute;
			top: 0.5rem;
			right: 0;
			padding: 0.5rem 1.4rem;
			border-radius: 24px;
			background-color: var(--blue);
			cursor: pointer;
			border: none;

			img {
				width: 30px;
				height: 30px;
			}
		}
	}
}

//new to zacks link
.new-to-zacks {
	display: block;
	padding: 1rem 3rem;
	cursor: pointer;
	font-size: 0.875rem;
	text-align: left;
	text-transform: capitalize;
	p {
		float: left;
		font-family: 'Poppins-bold';
		color: var(--green);

		&:hover {
			text-decoration: underline;
		}
	}

	span {
		font-family: 'Poppins';
		color: var(--baseTextColor);
	}

	img {
		float: left;
		width: 25px;
		height: 25px;
	}
}

//pushing link to the right side of any container
.link-pos-right {
	width: 100%;
	text-align: right;

	.mod-top-link {
		width: auto;
	}
}

//video commentaries
.featured-vid {
	figure {
		img {
			width: 100%;
			max-width: 100%;
		}
	}
}

.vid-thumb {
	img {
		width: 100%;
		max-height: 100px;
	}
}

.vid-desc {
	h4 {
		a {
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}

//footer
hr.bottom {
	width: 100%;
	border-bottom: 1px solid var(--gray);
	margin-top: 4rem;
}

.footer-sections {
	* {
		font-family: 'Poppins' !important;
		font-weight: normal;
		text-align: left;
		font-size: 0.875rem;
		color: var(--baseTextColor);
	}

	h3 {
		width: 100%;
		text-transform: capitalize;
	}

	ul {
		&.social,
		&.app-badges {
			padding-bottom: 2rem;

			li {
				float: left;
				padding-right: 1rem;
				a {
					width: 20px;
					height: 20px;

					&.fb,
					&.lnk {
						position: relative;
						top: -2px;
					}
				}
				img {
					object-fit: cover;
					object-position: center;
				}
			}
		}

		&.app-badges {
			li {
				padding-right: 0.5rem;
				a {
					width: 132px;
					height: 40px;
				}
			}
		}
	}

	h4 {
		font-family: 'Poppins-bold';
		font-weight: 600;
		font-size: 0.875rem;
		text-align: left;
		color: var(--baseTextColor);
		text-transform: capitalize;
	}

	.clients {
		margin-top: 0.5rem;
		width: 422px;
		height: 15px;
	}

	.bottom {
		margin-top: 0.4rem;
		margin-bottom: 1rem;
	}
}

footer {
	.badges {
		ul {
			padding-left: 0;

			li {
				float: left;
				margin-right: 0.8rem;

				&:nth-of-type(2) {
					position: relative;
					top: 4px;
				}
			}
		}
	}

	.disclaimer {
		padding-top: 2rem;
		font-family: 'Nunito';
		font-weight: normal;
		font-size: 0.7rem;
		text-align: left;
		color: var(--baseTextColor);
		line-height: 1.6;

		p {
			font-size: inherit;
			padding: 0.2rem 0;

			a {
				color: var(--blue);

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}

//ad
.widget-body.ad {
	padding: 0;
	img {
		width: 100%;
		max-width: 100%;
	}
}
