//all flexbox related attributes
.d-flex {
  display: flex;
  flex-wrap: wrap;

  .flex-wrr {
    //flex wrap reverse
    flex-wrap: wrap-reverse;
  }

  //flex direction
  .flex-dir-r {
    flex-direction: row;
  }

  .flex-dir-rr {
    flex-direction: row-reverse;
  }

  .flex-dir-c {
    flex-direction: column;
  }

  .flex-dir-cr {
    flex-direction: column-reverse;
  }

  //justify content (horizontally)
  .flex-jc-st {
    justify-content: flex-start;
  }

  .flex-jc-end {
    justify-content: flex-end;
  }

  .flex-jc-mid {
    justify-content: center;
  }

  .flex-jc-spb {
    justify-content: space-between;
  }

  .flex-jc-spa {
    justify-content: space-around;
  }

  .flex-jc-spe {
    justify-content: space-evenly;
  }

  //align content (vertically)
  .flex-ac-st {
    align-content: flex-start;
  }

  .flex-ac-end {
    align-content: flex-end;
  }

  .flex-ac-cen {
    align-content: center;
  }

  .flex-ac-spb {
    align-content: space-between;
  }

  .flex-ac-spa {
    align-content: space-around;
  }

  .flex-ac-spe {
    align-content: space-evenly;
  }

  //align items => vertically aligning individual items inside a grid and flexbox container
  .flex-ai-st {
    align-items: flex-start;
  }

  .flex-ai-end {
    align-items: flex-end;
  }

  .flex-ai-cen {
    align-items: center;
  }
}
