//Poppins regular
@font-face {
	font-family: 'Poppins';
	src: local('Poppins'), url('../fonts/Poppins.ttf') format('truetype');
}

//Nunito regular
@font-face {
	font-family: 'Nunito';
	src: local('Nunito'), url('../fonts/Nunito.ttf') format('truetype');
}
