//Poppins regular
@font-face {
	font-family: 'Poppins';
	src: local('Poppins'), url('../fonts/Poppins.ttf') format('truetype');
}

//Poppins bold
@font-face {
	font-family: 'Poppins-bold';
	src: local('Poppins-Bold'),
		url('../fonts/Poppins-Bold.ttf') format('truetype');
}

//Nunito regular
@font-face {
	font-family: 'Nunito';
	src: local('Nunito'), url('../fonts/Nunito.ttf') format('truetype');
}

//Nunito bold
@font-face {
	font-family: 'Nunito-Bold';
	src: local('Nunito-Bold'), url('../fonts/Nunito-Bold.ttf') format('truetype');
}

h2,
h3 {
	padding: 0.75rem 0;
	font-family: 'Poppins';
	font-size: 2rem;
	font-weight: normal;
	color: var(--titleTextColor);
	text-align: left;

	//color presets
	&.green {
		color: var(--green);
	}

	//text style presets => ps: pascal case
	&.ps {
		text-transform: capitalize;
	}
}

h3 {
	font-size: 1.2rem;
	line-height: 1.4;

	&.header-bold {
		font-family: 'Poppins-bold';
		font-size: 1.125rem;
		text-transform: capitalize;

		&.with-icon {
			&::before {
				content: '';
				width: 26px;
				height: 28px;
				display: inline-block;
				background-repeat: no-repeat;
				background-position: left center;
				padding-left: 2rem;
				position: relative;
				top: 6px;
			}

			//rank top movers
			&.tmv {
				&::before {
					background-image: url(../img/peak_icon.png);
				}
			}

			//rank additions
			&.rnka {
				&::before {
					background-image: url(../img/medal_icon.png);
				}
			}

			//earnings surprises
			&.es {
				&::before {
					background-image: url(../img/report_icon.png);
				}
			}

			//earnings esp
			&.esp {
				&::before {
					background-image: url(../img/esp_icon.png);
				}
			}
		}
	}
}

h4 {
	padding: 0.5rem 0;
	font-family: 'Poppins';
	font-size: 0.95rem;
	font-weight: normal;
	color: var(--titleTextColor);
	text-align: left;
}

p {
	font-family: 'Nunito';
	font-weight: normal;
	font-size: 1rem;
	text-align: left;
	color: var(--baseTextColor);
}

.earnings-art-title {
	font-size: 1.2rem;
}
